openapi: 3.2.0
info:
  title: Knak Enterprise Asset.sync Requested API
  version: V1
  x-logo:
    url: https://s3.amazonaws.com/assets.knak.io/img/Knak-Logo-Medium.png
  contact:
    email: support@knak.com
  description: '# Overview

    Welcome to the developer documentation for the Knak Enterprise API.'
servers:
- url: https://enterprise.knak.io/api/published/v1
  description: production
tags:
- name: asset.sync_requested
paths: {}
webhooks:
  asset.sync_requested:
    post:
      tags:
      - asset.sync_requested
      parameters:
      - in: header
        name: knak-signature
        schema:
          type: string
          example: eXYGdAHaNVcOLHVABaYIQHIdBTAZDFAT
          description: Hash-based message authentication code (HMAC) with SHA-256 used to verify that the payload contents were sent by Knak.
      - in: header
        name: Knak-Version
        schema:
          type: string
          example: '1.0'
          description: The version of the webhook payload.
      - in: header
        name: Knak-Event-Type
        schema:
          type: string
          example: asset.sync_requested
          description: The webhook's event type.
      requestBody:
        description: Webhook notification that a sync has been initiated via the Knak UI.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asset.sync_requested'
      responses:
        '200':
          description: Return a 200 status to indicate that the notification was received.
      summary: Create asset sync requested
      x-summary-source: derived
components:
  schemas:
    asset.sync_requested:
      type: object
      properties:
        event_type:
          type: string
          example: asset.sync_requested
        event_id:
          type: string
          example: 609d7ce223411
        event_date:
          type: string
          example: '2023-02-08T17:07:12+00:00'
        version:
          type: string
          example: '1.0'
        data:
          type: object
          properties:
            asset:
              type: object
              properties:
                id:
                  type: string
                  example: 609d7ce223411
                name:
                  type: string
                  example: Spring Newsletter
                content_link:
                  type: string
                  example: https://enterprise.knak.io/api/published/v1/assets/609d7ce223411/content
                folder_path:
                  type: string
                  example: Sample Brand/Folder 1/Folder 2/Sample Campaign
                campaign:
                  type: string
                  example: Sample Campaign
                brand:
                  type: string
                  example: Sample Brand
                version:
                  type: string
                  example: '1.0'
                language_code:
                  type: string
                  nullable: true
                  example: es
            user:
              $ref: '#/components/schemas/User'
              required:
              - email
            sync_status:
              type: object
              properties:
                id:
                  type: string
                  example: 609d7ce223411
                type:
                  type: string
                  example: sync
                map_id:
                  type: string
                  nullable: true
                  example: 123456
                link:
                  type: string
                  example: https://enterprise.knak.io/api/published/v1/sync-statuses/609d7ce223411
            integration:
              type: object
              properties:
                name:
                  type: string
                  example: Custom Integration
    User:
      type: object
      properties:
        id:
          type: string
          example: 609d7ce223411
        name:
          type: string
          example: John Doe
        email:
          type: string
          example: john.doe@email.com
        roles:
          type: array
          example:
          - Email Creator
          - Collaborator
          description: The roles for the user. Can be any of the roles defined for the company including custom roles.
          items:
            type: string
x-tagGroups:
- name: User Management
  tags:
  - Users
- name: Assets
  tags:
  - Assets
  - Project Management
- name: Themes
  tags:
  - Themes
- name: Modules
  tags:
  - Modules
- name: Brands
  tags:
  - Brands
- name: Asset Folders
  tags:
  - AssetFolders
- name: Assets Custom Fieldsets
  tags:
  - Asset Custom Fieldsets
- name: Available Platforms
  tags:
  - AvailablePlatforms
- name: Merge Tags
  tags:
  - MergeTags
- name: Integrations
  tags:
  - Integrations
- name: Sync
  tags:
  - SyncStatuses
  - MarketingPlatformSyncs
- name: Translation Requests
  tags:
  - TranslationRequests
- name: Events
  tags:
  - asset.created
  - asset.sync_requested
  - asset.sync_confirmation_responded
  - asset.approval_status_updated
  - asset.translation_requested
  - translation_request.created
- name: Models
  tags:
  - user_model
  - asset_model
  - theme_model
  - module_model
  - brand_model
  - asset_folder_model
  - asset_custom_fieldset
  - available_platform
  - merge_tag
  - sync_status
  - integration
  - marketing_platform_sync
  - translation_request
  - project_management_link
