openapi: 3.2.0
info:
  title: Knak Enterprise Themes API
  version: V1
  x-logo:
    url: https://s3.amazonaws.com/assets.knak.io/img/Knak-Logo-Medium.png
  contact:
    email: support@knak.com
  description: '# Overview

    Welcome to the developer documentation for the Knak Enterprise API.'
servers:
- url: https://enterprise.knak.io/api/published/v1
  description: production
tags:
- name: Themes
paths:
  /themes:
    get:
      description: Retrieve all themes in organization.
      summary: List all themes
      tags:
      - Themes
      parameters:
      - name: filter[name]
        in: query
        description: Filter themes by name. Exact match filter.
        required: false
        schema:
          type: string
          example: Spring Newsletter
      - name: filter[tags]
        in: query
        description: Filter themes by tags. Scope match filter.
        required: false
        schema:
          type: string
          example: Newsletter,Outreach
      - name: filter[published]
        in: query
        description: Filter themes by published status. Scope match filter.
        required: false
        schema:
          type: boolean
          example: true
      - name: sort
        in: query
        description: Sort themes by field (created_at, updated_at).
        required: false
        schema:
          type: string
          example: created_at
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: Number of items per page
        example: 10
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeList'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: Authenticate before continuing.
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: This user is not authorized to perform this action. Please adjust permissions before continuing.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: Resource not found.
      operationId: getThemes
      x-operation-id-source: derived
  /themes/{theme_id}:
    get:
      description: Retrieve a specific themes's information, given their theme ID.
      summary: Retrieve specific theme
      parameters:
      - in: path
        required: true
        name: theme_id
        description: ID of theme
        example: 609d7ce223411
        schema:
          type: string
      tags:
      - Themes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Theme'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Unauthenticated.
                  detail: Authenticate before continuing.
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Forbidden.
                  detail: This user is not authorized to perform this action. Please adjust permissions before continuing.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Resource Not Found.
                  detail: Could not find the email you were looking for.
      operationId: getThemesByThemeId
      x-operation-id-source: derived
components:
  schemas:
    Theme:
      type: object
      properties:
        type:
          type: string
          example: theme
        id:
          type: string
          example: 63eff78889f21
        attributes:
          type: object
          properties:
            id:
              type: string
              example: 63eff78889f21
            name:
              type: string
              example: Spring Newsletter
            description:
              type: string
              example: Sample description
            published:
              type: boolean
              example: true
            tags:
              type: array
              example:
              - Newsletter
              - Outreach
            created_at:
              type: string
              format: date-time
              example: '2023-05-17T21:54:19.000000Z'
            updated_at:
              type: string
              format: date-time
              example: '2023-05-18T19:55:21.000000Z'
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
                description: HTTP status code as a string. Returned by endpoints that use the JSON:API error shape.
                example: '409'
              title:
                type: string
              detail:
                type: string
              meta:
                type: object
                description: Additional context for the error. Returned by endpoints that use the JSON:API error shape.
                additionalProperties: true
    ThemeList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Theme'
        links:
          type: object
          properties:
            first:
              type: string
              example: https://enterprise.knak.io/api/published/v1/themes?page=1
            last:
              type: string
              example: https://enterprise.knak.io/api/published/v1/themes?page=3
            prev:
              type: string
              nullable: true
              example: https://enterprise.knak.io/api/published/v1/themes?page=1
            next:
              type: string
              nullable: true
              example: https://enterprise.knak.io/api/published/v1/themes?page=3
        meta:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            from:
              type: integer
              example: 1
            last_page:
              type: integer
              example: 3
            links:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                    nullable: true
                    example: https://enterprise.knak.io/api/published/v1/themes?page=2
                  label:
                    type: string
                    example: Next
                  active:
                    type: boolean
                    example: true
            path:
              type: string
              example: https://enterprise.knak.io/api/published/v1/themes?page=2
            per_page:
              type: integer
              example: 10
            to:
              type: integer
              example: 2
            total:
              type: integer
              example: 2
    Response:
      type: object
      properties:
        message:
          type: string
          example: This is the response message to the request made.
x-tagGroups:
- name: User Management
  tags:
  - Users
- name: Assets
  tags:
  - Assets
  - Project Management
- name: Themes
  tags:
  - Themes
- name: Modules
  tags:
  - Modules
- name: Brands
  tags:
  - Brands
- name: Asset Folders
  tags:
  - AssetFolders
- name: Assets Custom Fieldsets
  tags:
  - Asset Custom Fieldsets
- name: Available Platforms
  tags:
  - AvailablePlatforms
- name: Merge Tags
  tags:
  - MergeTags
- name: Integrations
  tags:
  - Integrations
- name: Sync
  tags:
  - SyncStatuses
  - MarketingPlatformSyncs
- name: Translation Requests
  tags:
  - TranslationRequests
- name: Events
  tags:
  - asset.created
  - asset.sync_requested
  - asset.sync_confirmation_responded
  - asset.approval_status_updated
  - asset.translation_requested
  - translation_request.created
- name: Models
  tags:
  - user_model
  - asset_model
  - theme_model
  - module_model
  - brand_model
  - asset_folder_model
  - asset_custom_fieldset
  - available_platform
  - merge_tag
  - sync_status
  - integration
  - marketing_platform_sync
  - translation_request
  - project_management_link
