openapi: 3.2.0
info:
  title: Knak Enterprise Modules API
  version: V1
  x-logo:
    url: https://s3.amazonaws.com/assets.knak.io/img/Knak-Logo-Medium.png
  contact:
    email: support@knak.com
  description: '# Overview

    Welcome to the developer documentation for the Knak Enterprise API.'
servers:
- url: https://enterprise.knak.io/api/published/v1
  description: production
tags:
- name: Modules
paths:
  /modules:
    get:
      description: Retrieve all modules in your organization that have at least one published version. Modules without a published version are not returned.
      summary: List all modules
      tags:
      - Modules
      parameters:
      - name: filter[name]
        in: query
        description: Filter modules by name. Exact match filter.
        required: false
        schema:
          type: string
          example: Hero Banner
      - name: filter[type]
        in: query
        description: Filter modules by type. Exact match filter.
        required: false
        schema:
          type: string
          enum:
          - email
          - landing
          example: email
      - name: filter[brand_id]
        in: query
        description: Filter modules by associated brand. Accepts one or more comma-separated brand IDs and returns modules associated with any of the given brands.
        required: false
        schema:
          type: string
          example: 63eff7760568a
      - name: sort
        in: query
        description: Sort modules by field (created_at, updated_at).
        required: false
        schema:
          type: string
          example: created_at
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: Number of items per page
        example: 10
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleList'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: Authenticate before continuing.
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: This user is not authorized to perform this action. Please adjust permissions before continuing.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: Resource not found.
      operationId: getModules
      x-operation-id-source: derived
  /modules/{module_id}:
    get:
      description: Retrieve a specific module's metadata, given its module ID. Only modules with at least one published version are returned.
      summary: Retrieve specific module
      tags:
      - Modules
      parameters:
      - name: module_id
        in: path
        required: true
        description: ID of module
        example: 63eff78889f21
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleItem'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: Authenticate before continuing.
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: This user is not authorized to perform this action. Please adjust permissions before continuing.
        '404':
          description: Not Found - the module does not exist or has no published version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: Resource not found.
      operationId: getModulesByModuleId
      x-operation-id-source: derived
  /modules/{module_id}/content:
    get:
      description: Retrieve the HTML content of a module's latest published version. Draft versions are never returned. Returns a 422 error if the module has no published version.
      summary: Retrieve module content
      tags:
      - Modules
      parameters:
      - name: module_id
        in: path
        required: true
        description: ID of module
        example: 63eff78889f21
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleContent'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: Authenticate before continuing.
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: This user is not authorized to perform this action. Please adjust permissions before continuing.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: Resource not found.
        '422':
          description: Unprocessable Entity - the module has no published version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - status: '422'
                  title: Unprocessable Entity
                  detail: This module has no published version. Publish the module in Knak before requesting its content.
                  meta:
                    module_id: 63eff78889f21
      operationId: getModulesByModuleIdContent
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
                description: HTTP status code as a string. Returned by endpoints that use the JSON:API error shape.
                example: '409'
              title:
                type: string
              detail:
                type: string
              meta:
                type: object
                description: Additional context for the error. Returned by endpoints that use the JSON:API error shape.
                additionalProperties: true
    Response:
      type: object
      properties:
        message:
          type: string
          example: This is the response message to the request made.
    ModuleContent:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              example: module-content
            id:
              type: string
              example: 63eff78889f21
            attributes:
              type: object
              properties:
                id:
                  type: string
                  example: 63eff78889f21
                name:
                  type: string
                  example: Hero Banner
                type:
                  type: string
                  enum:
                  - email
                  - landing
                  example: email
                status:
                  type: string
                  enum:
                  - draft
                  - final
                  example: final
                category:
                  type: object
                  nullable: true
                  properties:
                    id:
                      type: string
                      example: 63eff7760568b
                    name:
                      type: string
                      example: Headers
                brand_ids:
                  type: array
                  items:
                    type: string
                  example:
                  - 63eff7760568a
                version:
                  type: string
                  example: '2'
                html:
                  type: string
                  example: <div>Hero banner content</div>
    ModuleItem:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Module'
    ModuleList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Module'
        links:
          type: object
          properties:
            first:
              type: string
              example: https://enterprise.knak.io/api/published/v1/modules?page=1
            last:
              type: string
              example: https://enterprise.knak.io/api/published/v1/modules?page=3
            prev:
              type: string
              nullable: true
              example: https://enterprise.knak.io/api/published/v1/modules?page=1
            next:
              type: string
              nullable: true
              example: https://enterprise.knak.io/api/published/v1/modules?page=3
        meta:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            from:
              type: integer
              example: 1
            last_page:
              type: integer
              example: 3
            links:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                    nullable: true
                    example: https://enterprise.knak.io/api/published/v1/modules?page=2
                  label:
                    type: string
                    example: Next
                  active:
                    type: boolean
                    example: true
            path:
              type: string
              example: https://enterprise.knak.io/api/published/v1/modules?page=2
            per_page:
              type: integer
              example: 10
            to:
              type: integer
              example: 2
            total:
              type: integer
              example: 2
    Module:
      type: object
      properties:
        type:
          type: string
          example: module
        id:
          type: string
          example: 63eff78889f21
        attributes:
          type: object
          properties:
            id:
              type: string
              example: 63eff78889f21
            name:
              type: string
              example: Hero Banner
            type:
              type: string
              enum:
              - email
              - landing
              example: email
            status:
              type: string
              enum:
              - draft
              - final
              example: final
            category:
              type: object
              nullable: true
              properties:
                id:
                  type: string
                  example: 63eff7760568b
                name:
                  type: string
                  example: Headers
            brand_ids:
              type: array
              items:
                type: string
              example:
              - 63eff7760568a
            created_at:
              type: string
              format: date-time
              example: '2023-05-17T21:54:19Z'
            updated_at:
              type: string
              format: date-time
              example: '2023-05-18T19:55:21Z'
x-tagGroups:
- name: User Management
  tags:
  - Users
- name: Assets
  tags:
  - Assets
  - Project Management
- name: Themes
  tags:
  - Themes
- name: Modules
  tags:
  - Modules
- name: Brands
  tags:
  - Brands
- name: Asset Folders
  tags:
  - AssetFolders
- name: Assets Custom Fieldsets
  tags:
  - Asset Custom Fieldsets
- name: Available Platforms
  tags:
  - AvailablePlatforms
- name: Merge Tags
  tags:
  - MergeTags
- name: Integrations
  tags:
  - Integrations
- name: Sync
  tags:
  - SyncStatuses
  - MarketingPlatformSyncs
- name: Translation Requests
  tags:
  - TranslationRequests
- name: Events
  tags:
  - asset.created
  - asset.sync_requested
  - asset.sync_confirmation_responded
  - asset.approval_status_updated
  - asset.translation_requested
  - translation_request.created
- name: Models
  tags:
  - user_model
  - asset_model
  - theme_model
  - module_model
  - brand_model
  - asset_folder_model
  - asset_custom_fieldset
  - available_platform
  - merge_tag
  - sync_status
  - integration
  - marketing_platform_sync
  - translation_request
  - project_management_link
