openapi: 3.2.0
info:
  title: Knak Enterprise Sync Statuses API
  version: V1
  x-logo:
    url: https://s3.amazonaws.com/assets.knak.io/img/Knak-Logo-Medium.png
  contact:
    email: support@knak.com
  description: '# Overview

    Welcome to the developer documentation for the Knak Enterprise API.'
servers:
- url: https://enterprise.knak.io/api/published/v1
  description: production
tags:
- name: SyncStatuses
paths:
  /sync-statuses/{sync_status_id}:
    get:
      description: Retrieve a specific sync status.
      summary: Retrieve specific sync status
      tags:
      - SyncStatuses
      parameters:
      - name: sync_status_id
        in: path
        required: true
        description: ID of the sync status to retrieve
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncStatusItem'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Unauthenticated.
                  detail: Authenticate before continuing.
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Forbidden.
                  detail: This user is not authorized to perform this action. Please adjust permissions before continuing.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Resource Not Found.
                  detail: Could not find the sync status you were looking for.
      operationId: getSyncStatusesBySyncStatusId
      x-operation-id-source: derived
    patch:
      description: Update a specific sync status.
      summary: Update a specific sync status
      tags:
      - SyncStatuses
      parameters:
      - name: sync_status_id
        in: path
        required: true
        description: ID of the sync status to update
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                map_id:
                  type: string
                  example: 123456
                map_url:
                  type: string
                  nullable: true
                  example: https://www.map.com/123456
                error_message:
                  type: string
                  nullable: true
                  example: Error creating asset in MAP
                status:
                  type: string
                  enum:
                  - in_progress
                  - complete
                  - error
                  - confirmation_requested
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncStatusItem'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Unauthenticated.
                  detail: Authenticate before continuing.
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Forbidden.
                  detail: This user is not authorized to perform this action. Please adjust permissions before continuing.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Resource Not Found.
                  detail: Could not find the sync status you were looking for.
      operationId: patchSyncStatusesBySyncStatusId
      x-operation-id-source: derived
components:
  schemas:
    SyncStatus:
      type: object
      properties:
        type:
          type: string
          example: sync-status
        id:
          type: string
          example: 609d7ce223411
        attributes:
          $ref: '#/components/schemas/SyncStatusAttributes'
    SyncStatusAttributes:
      type: object
      properties:
        id:
          type: string
          example: 609d7ce223411
        type:
          type: string
          enum:
          - sync
          - resync
          example: sync
        status:
          type: string
          enum:
          - initialized
          - in_progress
          - complete
          - failed
          example: in_progress
        error_message:
          type: string
          nullable: true
          example: Error creating asset in MAP
        map_id:
          type: string
          nullable: true
          example: 123456
        map_url:
          type: string
          nullable: true
          example: https://www.map.com/123456
        custom_confirmation_content:
          type: object
          nullable: true
        last_user_confirmation_response:
          type: string
          nullable: true
          enum:
          - ok
          - cancelled
          - 'null'
          example: ok
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
                description: HTTP status code as a string. Returned by endpoints that use the JSON:API error shape.
                example: '409'
              title:
                type: string
              detail:
                type: string
              meta:
                type: object
                description: Additional context for the error. Returned by endpoints that use the JSON:API error shape.
                additionalProperties: true
    SyncStatusItem:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SyncStatus'
x-tagGroups:
- name: User Management
  tags:
  - Users
- name: Assets
  tags:
  - Assets
  - Project Management
- name: Themes
  tags:
  - Themes
- name: Modules
  tags:
  - Modules
- name: Brands
  tags:
  - Brands
- name: Asset Folders
  tags:
  - AssetFolders
- name: Assets Custom Fieldsets
  tags:
  - Asset Custom Fieldsets
- name: Available Platforms
  tags:
  - AvailablePlatforms
- name: Merge Tags
  tags:
  - MergeTags
- name: Integrations
  tags:
  - Integrations
- name: Sync
  tags:
  - SyncStatuses
  - MarketingPlatformSyncs
- name: Translation Requests
  tags:
  - TranslationRequests
- name: Events
  tags:
  - asset.created
  - asset.sync_requested
  - asset.sync_confirmation_responded
  - asset.approval_status_updated
  - asset.translation_requested
  - translation_request.created
- name: Models
  tags:
  - user_model
  - asset_model
  - theme_model
  - module_model
  - brand_model
  - asset_folder_model
  - asset_custom_fieldset
  - available_platform
  - merge_tag
  - sync_status
  - integration
  - marketing_platform_sync
  - translation_request
  - project_management_link
