openapi: 3.2.0
info:
  title: Knak Enterprise Integrations API
  version: V1
  x-logo:
    url: https://s3.amazonaws.com/assets.knak.io/img/Knak-Logo-Medium.png
  contact:
    email: support@knak.com
  description: '# Overview

    Welcome to the developer documentation for the Knak Enterprise API.'
servers:
- url: https://enterprise.knak.io/api/published/v1
  description: production
tags:
- name: Integrations
paths:
  /integrations:
    get:
      description: List all integrations configured for your company. Supports optional filtering by platform and category.
      summary: List integrations
      tags:
      - Integrations
      parameters:
      - name: filter[platform]
        in: query
        required: false
        description: Filter by platform identifier. Commonly supported values include `marketing_cloud`, `marketo`, `eloqua`, `pardot`, `hubspot`, `adobe_journey_optimizer`, `iterable`, `sendgrid`, `responsys`, `acoustic`. This list is not exhaustive and new platforms are added over time.
        schema:
          type: string
          example: marketing_cloud
      - name: filter[category]
        in: query
        required: false
        description: Filter by integration category.
        schema:
          type: string
          enum:
          - map
          - dam
          - translation
          - personalization_platform
          - project_management
          - content_testing
          - sync_location
          example: map
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: Number of items per page
        example: 10
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationList'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Unauthenticated.
                  detail: Authenticate before continuing.
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Forbidden.
                  detail: This user is not authorized to perform this action. Please adjust permissions before continuing.
      operationId: getIntegrations
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
                description: HTTP status code as a string. Returned by endpoints that use the JSON:API error shape.
                example: '409'
              title:
                type: string
              detail:
                type: string
              meta:
                type: object
                description: Additional context for the error. Returned by endpoints that use the JSON:API error shape.
                additionalProperties: true
    IntegrationAttributes:
      type: object
      properties:
        id:
          type: string
          example: 609d7ce223411
        name:
          type: string
          example: Acme SFMC Integration
        platform:
          type: string
          example: marketing_cloud
        category:
          type: string
          example: map
    Integration:
      type: object
      properties:
        type:
          type: string
          example: integration
        id:
          type: string
          example: 609d7ce223411
        attributes:
          $ref: '#/components/schemas/IntegrationAttributes'
    IntegrationList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Integration'
        links:
          type: object
          properties:
            first:
              type: string
              example: https://enterprise.knak.io/api/published/v1/integrations?page=1
            last:
              type: string
              example: https://enterprise.knak.io/api/published/v1/integrations?page=3
            prev:
              type: string
              nullable: true
              example: https://enterprise.knak.io/api/published/v1/integrations?page=1
            next:
              type: string
              nullable: true
              example: https://enterprise.knak.io/api/published/v1/integrations?page=3
        meta:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            from:
              type: integer
              example: 1
            last_page:
              type: integer
              example: 3
            links:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                    nullable: true
                    example: https://enterprise.knak.io/api/published/v1/integrations?page=2
                  label:
                    type: string
                    example: Next
                  active:
                    type: boolean
                    example: true
            path:
              type: string
              example: https://enterprise.knak.io/api/published/v1/integrations?page=2
            per_page:
              type: integer
              example: 10
            to:
              type: integer
              example: 2
            total:
              type: integer
              example: 2
x-tagGroups:
- name: User Management
  tags:
  - Users
- name: Assets
  tags:
  - Assets
  - Project Management
- name: Themes
  tags:
  - Themes
- name: Modules
  tags:
  - Modules
- name: Brands
  tags:
  - Brands
- name: Asset Folders
  tags:
  - AssetFolders
- name: Assets Custom Fieldsets
  tags:
  - Asset Custom Fieldsets
- name: Available Platforms
  tags:
  - AvailablePlatforms
- name: Merge Tags
  tags:
  - MergeTags
- name: Integrations
  tags:
  - Integrations
- name: Sync
  tags:
  - SyncStatuses
  - MarketingPlatformSyncs
- name: Translation Requests
  tags:
  - TranslationRequests
- name: Events
  tags:
  - asset.created
  - asset.sync_requested
  - asset.sync_confirmation_responded
  - asset.approval_status_updated
  - asset.translation_requested
  - translation_request.created
- name: Models
  tags:
  - user_model
  - asset_model
  - theme_model
  - module_model
  - brand_model
  - asset_folder_model
  - asset_custom_fieldset
  - available_platform
  - merge_tag
  - sync_status
  - integration
  - marketing_platform_sync
  - translation_request
  - project_management_link
