openapi: 3.2.0
info:
  title: Knak Enterprise Asset.translation Requested API
  version: V1
  x-logo:
    url: https://s3.amazonaws.com/assets.knak.io/img/Knak-Logo-Medium.png
  contact:
    email: support@knak.com
  description: '# Overview

    Welcome to the developer documentation for the Knak Enterprise API.'
servers:
- url: https://enterprise.knak.io/api/published/v1
  description: production
tags:
- name: asset.translation_requested
paths: {}
webhooks:
  asset.translation_requested:
    post:
      tags:
      - asset.translation_requested
      parameters:
      - in: header
        name: knak-signature
        schema:
          type: string
          example: eXYGdAHaNVcOLHVABaYIQHIdBTAZDFAT
          description: Hash-based message authentication code (HMAC) with SHA-256 used to verify that the payload contents were sent by Knak.
      - in: header
        name: Knak-Version
        schema:
          type: string
          example: '1.0'
          description: The version of the webhook payload.
      - in: header
        name: Knak-Event-Type
        schema:
          type: string
          example: asset.translation_requested
          description: The webhook's event type.
      requestBody:
        description: Webhook notification that a user has requested a translation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asset.translation_requested'
      responses:
        '200':
          description: Return a 200 status to indicate that the notification was received.
      summary: Create asset translation requested
      x-summary-source: derived
components:
  schemas:
    asset.translation_requested:
      type: object
      properties:
        event_type:
          type: string
          example: asset.translation_requested
        event_id:
          type: string
          example: 609d7ce223411
        event_date:
          type: string
          example: '2023-02-08T17:07:12+00:00'
        version:
          type: string
          example: '1.0'
        data:
          type: object
          properties:
            asset:
              type: object
              properties:
                id:
                  type: string
                  example: 609d7ce223411
                name:
                  type: string
                  example: Spring Newsletter
                folder_path:
                  type: string
                  example: Sample Brand/Folder 1/Folder 2/Sample Campaign
                campaign:
                  type: string
                  example: Sample Campaign
                brand:
                  type: string
                  example: Sample Brand
                version:
                  type: string
                  example: '1.0'
                language_code:
                  type: string
                  nullable: true
                  example: es
            user:
              $ref: '#/components/schemas/User'
              required:
              - email
            translation_requests:
              type: array
              items:
                $ref: '#/components/schemas/TranslationRequestItem'
    TranslationRequestItem:
      type: object
      properties:
        type:
          type: string
          example: translation-request
        id:
          type: string
          example: 609d7ce223411
        attributes:
          $ref: '#/components/schemas/TranslationRequestItemAttributes'
    User:
      type: object
      properties:
        id:
          type: string
          example: 609d7ce223411
        name:
          type: string
          example: John Doe
        email:
          type: string
          example: john.doe@email.com
        roles:
          type: array
          example:
          - Email Creator
          - Collaborator
          description: The roles for the user. Can be any of the roles defined for the company including custom roles.
          items:
            type: string
    TranslationRequestItemAttributes:
      type: object
      properties:
        id:
          type: string
          example: 609d7ce223411
        language_code:
          description: The language code of the translation target
          type: string
          example: zh-CN
        source_language_code:
          description: The language code of the translation source. If not set, the value will be null
          type: string
          nullable: true
          example: en-US
        status:
          type: string
          enum:
          - cancelled
          - completed
          - deleted
          - failed
          - manually_translating
          - processing
          - reopened
          - requested
          - re_requested
          example: processing
        base_asset_id:
          description: The ID of the Asset that should be translated
          type: string
          example: 609ca344d1b1b
        asset_version_id:
          description: The ID of the Asset Version that should be translated
          type: string
          example: 67d19607cbb1d4.78284760
        integration_id:
          type: string
          description: The ID of the integration that was used to request the translation
          example: 609ca344d1caa
        creator_id:
          type: string
          description: The ID of the user who requested the translation
          example: 609ca344d1b1b
        notes:
          type: string
          description: Any notes or context relating to the translation request. If not set, the value will be null
          nullable: true
          example: Need a translation for this asset soon
        due_date:
          type: string
          description: The date the translation is due. If not set, the value will be null
          nullable: true
          example: '2023-02-08'
        created_at:
          type: string
          example: '2023-02-08T17:07:12+00:00'
        updated_at:
          type: string
          example: '2023-02-08T17:07:12+00:00'
x-tagGroups:
- name: User Management
  tags:
  - Users
- name: Assets
  tags:
  - Assets
  - Project Management
- name: Themes
  tags:
  - Themes
- name: Modules
  tags:
  - Modules
- name: Brands
  tags:
  - Brands
- name: Asset Folders
  tags:
  - AssetFolders
- name: Assets Custom Fieldsets
  tags:
  - Asset Custom Fieldsets
- name: Available Platforms
  tags:
  - AvailablePlatforms
- name: Merge Tags
  tags:
  - MergeTags
- name: Integrations
  tags:
  - Integrations
- name: Sync
  tags:
  - SyncStatuses
  - MarketingPlatformSyncs
- name: Translation Requests
  tags:
  - TranslationRequests
- name: Events
  tags:
  - asset.created
  - asset.sync_requested
  - asset.sync_confirmation_responded
  - asset.approval_status_updated
  - asset.translation_requested
  - translation_request.created
- name: Models
  tags:
  - user_model
  - asset_model
  - theme_model
  - module_model
  - brand_model
  - asset_folder_model
  - asset_custom_fieldset
  - available_platform
  - merge_tag
  - sync_status
  - integration
  - marketing_platform_sync
  - translation_request
  - project_management_link
