openapi: 3.2.0
info:
  title: Knak Enterprise Available Platforms API
  version: V1
  x-logo:
    url: https://s3.amazonaws.com/assets.knak.io/img/Knak-Logo-Medium.png
  contact:
    email: support@knak.com
  description: '# Overview

    Welcome to the developer documentation for the Knak Enterprise API.'
servers:
- url: https://enterprise.knak.io/api/published/v1
  description: production
tags:
- name: AvailablePlatforms
paths:
  /available-platforms:
    get:
      description: Retrieve all available platforms for your company.
      summary: List all available platforms
      parameters:
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: Number of items per page
        example: 10
        schema:
          type: integer
      tags:
      - AvailablePlatforms
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailablePlatformList'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Unauthenticated.
                  detail: Authenticate before continuing.
      operationId: getAvailablePlatforms
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
                description: HTTP status code as a string. Returned by endpoints that use the JSON:API error shape.
                example: '409'
              title:
                type: string
              detail:
                type: string
              meta:
                type: object
                description: Additional context for the error. Returned by endpoints that use the JSON:API error shape.
                additionalProperties: true
    AvailablePlatformAttributes:
      type: object
      properties:
        id:
          type: string
          example: marketo
        name:
          type: string
          example: Marketo
    AvailablePlatformList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AvailablePlatform'
        links:
          type: object
          properties:
            first:
              type: string
              example: https://enterprise.knak.io/api/published/v1/available-platforms?page=1
            last:
              type: string
              example: https://enterprise.knak.io/api/published/v1/available-platforms?page=3
            prev:
              type: string
              nullable: true
              example: https://enterprise.knak.io/api/published/v1/available-platforms?page=1
            next:
              type: string
              nullable: true
              example: https://enterprise.knak.io/api/published/v1/available-platforms?page=3
        meta:
          type: object
          properties:
            current_page:
              type: integer
              example: 2
            from:
              type: integer
              example: 1
            last_page:
              type: integer
              example: 3
            links:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                    nullable: true
                    example: https://enterprise.knak.io/api/published/v1/available-platforms?page=2
                  label:
                    type: string
                    example: Next
                  active:
                    type: boolean
                    example: true
            path:
              type: string
              example: https://enterprise.knak.io/api/published/v1/available-platforms?page=2
            per_page:
              type: integer
              example: 10
            to:
              type: integer
              example: 3
            total:
              type: integer
              example: 3
    AvailablePlatform:
      type: object
      properties:
        type:
          type: string
          example: available-platform
        id:
          type: string
          example: marketo
        attributes:
          $ref: '#/components/schemas/AvailablePlatformAttributes'
x-tagGroups:
- name: User Management
  tags:
  - Users
- name: Assets
  tags:
  - Assets
  - Project Management
- name: Themes
  tags:
  - Themes
- name: Modules
  tags:
  - Modules
- name: Brands
  tags:
  - Brands
- name: Asset Folders
  tags:
  - AssetFolders
- name: Assets Custom Fieldsets
  tags:
  - Asset Custom Fieldsets
- name: Available Platforms
  tags:
  - AvailablePlatforms
- name: Merge Tags
  tags:
  - MergeTags
- name: Integrations
  tags:
  - Integrations
- name: Sync
  tags:
  - SyncStatuses
  - MarketingPlatformSyncs
- name: Translation Requests
  tags:
  - TranslationRequests
- name: Events
  tags:
  - asset.created
  - asset.sync_requested
  - asset.sync_confirmation_responded
  - asset.approval_status_updated
  - asset.translation_requested
  - translation_request.created
- name: Models
  tags:
  - user_model
  - asset_model
  - theme_model
  - module_model
  - brand_model
  - asset_folder_model
  - asset_custom_fieldset
  - available_platform
  - merge_tag
  - sync_status
  - integration
  - marketing_platform_sync
  - translation_request
  - project_management_link
