openapi: 3.2.0
info:
  title: Knak Enterprise Project Management API
  version: V1
  x-logo:
    url: https://s3.amazonaws.com/assets.knak.io/img/Knak-Logo-Medium.png
  contact:
    email: support@knak.com
  description: '# Overview

    Welcome to the developer documentation for the Knak Enterprise API.'
servers:
- url: https://enterprise.knak.io/api/published/v1
  description: production
tags:
- name: Project Management
paths:
  /assets/{asset_id}/project-management-link:
    get:
      description: Retrieve the most recently created project management link for an asset.
      summary: Retrieve a project management link for an asset
      tags:
      - Project Management
      parameters:
      - name: asset_id
        in: path
        required: true
        example: 609d7ce223411
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectManagementLink'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Unauthenticated.
                  detail: Authenticate before continuing.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Resource Not Found.
                  detail: Could not find the project management link you were looking for.
      operationId: getAssetsByAssetIdProjectManagementLink
      x-operation-id-source: derived
    patch:
      description: Update the most recently created project management link for an asset or create a new one if one does not exist.
      summary: Update/Create a project management link for an asset
      tags:
      - Project Management
      parameters:
      - name: asset_id
        in: path
        required: true
        example: 609d7ce223411
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                integration_id:
                  type: string
                  example: 609d7ce223411
                project_management_url:
                  type: string
                  example: https://knak.my.workfront.com/task/64a521d456747a13ec3fc60911274eda2/documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectManagementLink'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Validation Error for project_management_url.
                  detail: The project management url field is required.
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Unauthenticated.
                  detail: Authenticate before continuing.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Resource Not Found.
                  detail: Could not find the project management link you were looking for.
      operationId: patchAssetsByAssetIdProjectManagementLink
      x-operation-id-source: derived
    delete:
      description: Delete the most recently created project management link for an asset.
      summary: Delete a project management link for an asset
      tags:
      - Project Management
      parameters:
      - name: asset_id
        in: path
        required: true
        example: 609d7ce223411
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Unauthenticated.
                  detail: Authenticate before continuing.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                - title: Resource Not Found.
                  detail: Could not find the project management link you were looking for.
      operationId: deleteAssetsByAssetIdProjectManagementLink
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
                description: HTTP status code as a string. Returned by endpoints that use the JSON:API error shape.
                example: '409'
              title:
                type: string
              detail:
                type: string
              meta:
                type: object
                description: Additional context for the error. Returned by endpoints that use the JSON:API error shape.
                additionalProperties: true
    ProjectManagementLink:
      type: object
      properties:
        type:
          type: string
          example: project-management-link
        id:
          type: string
          example: 609d7ce223411
        attributes:
          type: object
          properties:
            id:
              type: string
              example: 609d7ce223411
            integration_id:
              type: string
              example: 609d7ce223411
            project_management_id:
              type: string
              example: 1234
            project_management_url:
              type: string
              example: https://knak.my.workfront.com/task/64a521d456747a13ec3fc60911274eda2/documents
            project_management_entity_name:
              type: string
              example: Workfront Task
            integration_metadata:
              type: object
              example: {}
x-tagGroups:
- name: User Management
  tags:
  - Users
- name: Assets
  tags:
  - Assets
  - Project Management
- name: Themes
  tags:
  - Themes
- name: Modules
  tags:
  - Modules
- name: Brands
  tags:
  - Brands
- name: Asset Folders
  tags:
  - AssetFolders
- name: Assets Custom Fieldsets
  tags:
  - Asset Custom Fieldsets
- name: Available Platforms
  tags:
  - AvailablePlatforms
- name: Merge Tags
  tags:
  - MergeTags
- name: Integrations
  tags:
  - Integrations
- name: Sync
  tags:
  - SyncStatuses
  - MarketingPlatformSyncs
- name: Translation Requests
  tags:
  - TranslationRequests
- name: Events
  tags:
  - asset.created
  - asset.sync_requested
  - asset.sync_confirmation_responded
  - asset.approval_status_updated
  - asset.translation_requested
  - translation_request.created
- name: Models
  tags:
  - user_model
  - asset_model
  - theme_model
  - module_model
  - brand_model
  - asset_folder_model
  - asset_custom_fieldset
  - available_platform
  - merge_tag
  - sync_status
  - integration
  - marketing_platform_sync
  - translation_request
  - project_management_link
